body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

nav > ul.nav-links > li {
  display: inline;
  padding: 0 20px;
}

nav > ul.nav-links > li > a {
  color: #fff;
  text-decoration: none;
}

header > section.hero {
  margin: 50px 0;
}

main > section.features {
  text-align: center;
  padding: 50px 20px;
}

section.features > .feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

section.features .feature-container .feature {
  flex-basis: calc(33.333% - 20px);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Media Queries */

/* Pour les écrans jusqu'à 900px de large */
@media (max-width: 900px) {
  section.features .feature-container .feature {
      flex-basis: calc(50% - 20px); /* Ajustez le 20px si votre gap est différent */
  }
}

/* Pour les écrans jusqu'à 600px de large */
@media (max-width: 600px) {
  section.features .feature-container .feature {
      flex-basis: 100%;
  }
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta:hover {
  background-color: #0056b3;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
