section.features {
  text-align: center;
  padding: 50px 20px;
}

section.features > .feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

section.features .feature-container .feature {
  flex-basis: calc(33.333% - 20px);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Media Queries */

/* Pour les écrans jusqu'à 900px de large */
@media (max-width: 900px) {
  section.features .feature-container .feature {
      flex-basis: calc(50% - 20px); /* Ajustez le 20px si votre gap est différent */
  }
}

/* Pour les écrans jusqu'à 600px de large */
@media (max-width: 600px) {
  section.features .feature-container .feature {
      flex-basis: 100%;
  }
}
