section.subscriptions {
    text-align: center;
    padding: 50px 20px;
  }
  
  section.subscriptions > .subscription-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  section.subscriptions .subscription-container .subscription {
    flex-basis: calc(33.333% - 20px);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .subscription-container2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .subscription {
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .subscription-p {
    padding: 0 1em;
  }
  
  .price {
    font-weight: 500;
  }
  
  /* Media Queries */
  
  /* Pour les écrans jusqu'à 900px de large */
  @media (max-width: 900px) {
    section.subscriptions .subscription-container .subscription {
        flex-basis: calc(50% - 20px); /* Ajustez le 20px si votre gap est différent */
    }
  }
  
  /* Pour les écrans jusqu'à 600px de large */
  @media (max-width: 600px) {
    section.subscriptions .subscription-container .subscription {
        flex-basis: 100%;
    }
  }